.main_sidebar {
    padding: 25px;

    .sidebar {
        position: relative;
        width: max-content;
        height: 960px;
        background: #161D2F;
        padding: 25px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        nav{
            ul{
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                align-items: center;
                list-style: none;

                li {
                    a {
                        svg {
                            fill: #5A698F;

                            &:hover {
                                fill: red;
                            }
                        }
                    }

                    &.active {
                        svg {
                            fill: white;
                        }
                    }
                }
            }
        }
        .account_img{
            display: flex;
            img{
                cursor: pointer;
            }
            .registired{
                width: max-content;
                position: absolute;
                right: -70px;
                border-radius: 5px;
                background-color: red;
                padding: 15px;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                button{
                    cursor: pointer;
                    border: 0;
                    outline: 0;
                    border-radius: 5px;
                    padding: 5px;
                    font-weight: 700;
                }
            }
        }
    }
}