.main_sidebar {
    padding: 25px;

    .sidebar {
        width: max-content;
        height: 960px;
        background: #161D2F;
        padding: 25px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        nav{
            ul{
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                align-items: center;
                list-style: none;

                li {
                    a {
                        svg {
                            fill: #5A698F;

                            &:hover {
                                fill: red;
                            }
                        }
                    }

                    &.active {
                        svg {
                            fill: white;
                        }
                    }
                }
            }
        }
    }
}