@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #10141E;
    color: white;
    font-family: 'Outfit';
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.oval {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
}