.trending-main {
    width: 100%;
    margin: 50px 0;
    color: #ffffff;

    h2 {
        font-family: Outfit;
        font-size: 32px;
        font-weight: 400;
        line-height: 40.32px;
        letter-spacing: -0.5px;
        text-align: left;
        margin-bottom: 22px;
    }

    .swiper-wrapper {
        max-width: 1365px;

        .trending-card {
            width: 450px;
            position: relative;

            .save {
                position: absolute;
                top: 15px;
                right: 0;
                cursor: pointer;

            }

            .trending-card-text {
                position: absolute;
                bottom: 0;
                padding: 25px 20px;


                h3 {
                    font-family: Outfit;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 30.24px;
                    text-align: left;
                }

                p {
                    font-family: Outfit;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 18.9px;
                    text-align: left;
                }
            }
        }
    }
}